body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
}


.espaço {
width: 40px;

}
.container{
position: relative;
top: 100px;
display: grid;
width: 9.8cm;
height: 10.9cm;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
}

.celula-1 {border: 0.3px solid black;
   grid-column-start:1 ;
   grid-column-end: 7;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 368px;
   height: 35px;
  }

  .celula-2 {
    border: 0.3px solid black;
    height:83px;
    width: 235px;
   grid-column-start:1 ;
   grid-column-end: 5;
   display: flex;
   align-items: flex-start;
   font-size: 12px;
  }

  .celula-3 {
    border: 0.3px solid black;
    height:83px;
    width: 65px;
   grid-column-start:5 ;
   grid-column-end: 6;
   display: flex;
   align-items: center;
   justify-content: center;
   /* gambiarra */
  position: relative;
left: -16px;
font-size: 35px;

}

  .celula-4 {
    border: 0.3px solid black;
    width: 66.5px;
    height: 235.81px;
   grid-column-start:6 ;
   grid-column-end: 7;
   display: flex;
   align-items: center;
   justify-content: center;
    /* gambiarra */
    position: relative;
    left: -16.5px;
  }

  .celula-5 {
    border: 0.3px solid black;
    width: 168.5px;
  height: 74px;
  grid-column-start:1 ;
   grid-column-end: 4;
   /* gambiarra */
   position: relative;
   top: -154.9px;
   font-size: 12px;
   display: flex;
   justify-content: flex-start;
  }

  .celula-6 {
    border: 0.3px solid black;
    width: 63.8px;
  height: 74.81px;
  grid-column-start:4 ;
   grid-column-end: 5;
   /* gambiarra */
   position: relative;
   top: -154.9px;
   left: -14.5px;
   font-size: 12px;
   display: flex;
   justify-content: center;
  }

  .celula-7 {
    border: 0.3px solid black;
    width: 65px;
  height: 153px;
  grid-column-start:5 ;
   grid-column-end: 6;
   /* gambiarra */
   position: relative;
   top: -154.9px;
   left: -16px;
   font-size: 10px;
  
  }

  .celula-8{
    border: 0.3px solid black;
    width: 168.5px;
  height: 76.5px;
  grid-column-start:1 ;
   grid-column-end: 4;
   /* gambiarra */
   position: relative;
   top: -233.5px;
   font-size: 12px;
  }

  .celula-9{
    border: 0.3px solid black;
    width: 63.5px;
  height: 77px;
  grid-column-start:4 ;
   grid-column-end: 5;
   /* gambiarra */
   position: relative;
   top: -233.5px;
   left: -14.5px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Kanit', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-size: 50px;
  }


  .celula-10{
    border: 0.3px solid black;
    width: 368px;
  height: 90px;
  grid-column-start:1 ;
   grid-column-end: 7;
   /* gambiarra */
   position: relative;
   top: -233.5px;
 display: flex;
 justify-content: center;
 align-items: center;
  }

  .celula-11{
    border: 0.3px solid black;
    width: 368px;
  height: 55px;
  grid-column-start:1 ;
   grid-column-end: 7;
   /* gambiarra */
   position: relative;
   top: -233.5px;
 
  }

  .organize {
 width: 367px;
height: 82px;
  }

  .micro-1 {
    font-size: 14px;
    position: relative;
top: -14px;
    left: 5px;
    display: flex;
    flex-direction: column;
 
  }
  .micro-2{

    position: relative;
    top: -45px;
    left: 190px;
 font-size: 14px;
  }

  .micro-3{
    position: relative;
    top: -55px;
    left: 5px;
    font-size: 10px;
  
  }

  .micro-4{
    position: relative;
    top: -105px;
    left: 85px;
    font-size: 18px;
  }
  .micro-5{
    position: relative;
    top: -140px;
    left: 350px;
    font-size: 12px;
  }

 .micro-6{
  position: relative;
  top: -150px;
  left:40px;
 }
   
